extends ../layout

block content
  h1 European Qualifiers - Group E
  p Welcome to the statistics of the European Qualifiers - Group E
  
  ul(class="row")
    li Country
    li Played
    li Won 
    li Drawn 
    li Lost 
    li For 
    li Against 
    li Goal difference 
    li Points

 ol(class="row-columns")
    ul
        li Czech Republic 
        li 1
        li 1
        li 0
        li 0
        li 6
        li 2
        li 4
        li 3

    ul 
        li Belgium 
        li 1
        li 1
        li 0
        li 0
        li 3
        li 1
        li 2
        li 3

    ul 
        li Belarus 
        li 0
        li 0
        li 0
        li 0
        li 0
        li 0
        li 0
        li 0

    ul 
        li Wales 
        li 1
        li 0
        li 0
        li 1
        li 1
        li 3
        li -2
        li 0

    ul 
        li Estonia 
        li 1
        li 0
        li 0
        li 1
        li 2
        li 6
        li -4
        li 0
    

