extends ../layout

block content
  h1 FIFA world ranking
  p Welcome to the statistics of the FIFA world ranking
  
  
  ul(class="row")
    li Ranking
    li Country
    li Total points

  ol(class="row-columns")
        li 1
        li Belgium
        li(class="bP") 1780

        li 2 
        li France
        li(class="fP") 1755

        li 3 
        li Brazil
        li(class="brP") 1743
  script(src="/primus/primus.js") 
  script(src="/javascripts/dashboard.js")
