extends ../layout

block content
  h1 European Qualifiers - Group E
  p Update the statistics of the European Qualifiers - Group E

  

  ul(class="teams")
    li(class="Czech Republic")
        img(src="" style="width: 40px")
        input(type="text" name="score" placeholder="")
    li(class="Belgium")
        img(src="" style="width: 40px")
        input(type="text" name="score" placeholder="")
    li(class="Belarus")
        img(src="" style="width: 40px")
        input(type="text" name="score" placeholder="")
    li(class="Wales")
        img(src="" style="width: 40px")
        input(type="text" name="score" placeholder="")
    li(class="Estonia")
        img(src="" style="width: 40px")
        input(type="text" name="score" placeholder="")
