extends ../layout

block content
  h1 European Qualifiers - Group E
  p Update the statistics of the European Qualifiers - Group E

  ul(class="teams")
    li(class="Czech Republic") Czech Republic
        input(type="text" name="Played" placeholder="Played")
        input(type="text" name="Won" placeholder="Won")
        input(type="text" name="Drawn" placeholder="Drawn")
        input(type="text" name="Lost" placeholder="Lost")
        input(type="text" name="Points" placeholder="Points")

    li(class="Belgium") Belgium
        input(type="text" name="Played" placeholder="Played")
        input(type="text" name="Won" placeholder="Won")
        input(type="text" name="Drawn" placeholder="Drawn")
        input(type="text" name="Lost" placeholder="Lost")
        input(type="text" name="Points" placeholder="Points")

    li(class="Belarus") Belarus
        input(type="text" name="Played" placeholder="Played")
        input(type="text" name="Won" placeholder="Won")
        input(type="text" name="Drawn" placeholder="Drawn")
        input(type="text" name="Lost" placeholder="Lost")
        input(type="text" name="Points" placeholder="Points")

    li(class="Wales") Wales
        input(type="text" name="Played" placeholder="Played")
        input(type="text" name="Won" placeholder="Won")
        input(type="text" name="Drawn" placeholder="Drawn")
        input(type="text" name="Lost" placeholder="Lost")
        input(type="text" name="Points" placeholder="Points")

    li(class="Estonia") Estonia
        input(type="text" name="Played" placeholder="Played")
        input(type="text" name="Won" placeholder="Won")
        input(type="text" name="Drawn" placeholder="Drawn")
        input(type="text" name="Lost" placeholder="Lost")
        input(type="text" name="Points" placeholder="Points")

    input(type="submit" class="button")